<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Music Library</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>New Artist</h1>
        
        <!-- This creates a form that will submit to POST /artists -->
        <form action="/artists" method="post">

            <!-- We check to see if there are any errors from a previous submission -->
            {% if errors %}
                <!-- If so, we show them. -->
                <p class="t-errors">
                    There were errors with your submission: {{ errors }}
                </p>
            {% endif %}

            <p>
                <!-- These `label` tags are important for accessibility -->
                <label for="title">Title</label>

                <!-- The `type` attribute says what kind of field this is -->
                <!-- The `name` attribute says what parameter name should be sent to the server -->
                <!-- The `id` field here is used to link it to the `for` tag in the label -->
                <input type="text" name="name" id="name">
            </p>
            <p>
                <label for="release_year">Genre</label>
                <input type="text" name="genre" id="genre">
            </p>
            <p>
                <!-- `type` is submit here, to indicate it is a button -->
                <!-- `value` is used as the button's text -->
                <input type="submit" value="Add Artist">
            </p>
        </form>
    </body>
</html>
